.seance-header{
	height: 20px;
	background-color: blue;
	margin-bottom: 15px;
}

.session-drag{
	border: 1px dotted black;
    height: 127px;
    padding: 18px 10px 10px;
    width: 186px;
    background-color: #C0C0C0;
}

.session-label{
	color: #FFFFFF;
	text-decoration: underline;
	font-style: italic;
}

.session-drop{
	width: 90px;
	height: 138px;
	color: #FFFFFF;
	font-weight: bold;
}

.dropped{
	background-color: #AEA7FF;
}