@CHARSET "ISO-8859-1";

html,body {
	height: 100%;
}

body {
	background: url('../images/charmita.png') repeat fixed;
}

#wrap {
	background-color: white;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 100px -60px;
}

.push,.footer {
	height: 60px;
}

.footer{
	margin: 0 100px;
}

.content {
	height: 100%;
}

.row-fluid {
	position: relative;
}

.banner {
	background: url('../images/banniere.png') no-repeat transparent;
	background-size: 1058px 99px;
	-o-background-size: 1058px 99px;
	-moz-background-size: 1058px 99px;
	-webkit-background-size: 1058px 99px; 
	color: white;
	height: 99px;
	position: relative;
}

.affiliates-container {
	padding: 20px 0;
}

.home-link {
	display: block;
    height: 70px;
    left: 82px;
    position: absolute;
    top: 21px;
    width: 500px;
    z-index: 2;
}

.header-container{
	background: url('../images/menu.png') repeat transparent;
}

.presentation{
	width: 600px;
	height: 200px;
	margin: auto;
	background: url('../images/bonde.png') no-repeat;
}

.affiliate-element{
	background: url("../images/boule.png") no-repeat scroll 7px 0 transparent;
    height: 132px;
    padding: 66px 66px 0;
    text-align: center;
}
