@font-face {
	font-family: Optima;
	font-size: 32px;
	src: url('/fonts/Optima_Bold.ttf');
}

@CHARSET "ISO-8859-1";

html,body {
	height: 100%;
}

body {
	background: url('../images/charmita.png') repeat fixed;
}

#wrap {
	background-color: white;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 100px -25px;
}

.push,.footer {
	height: 25px;
}

.footer {
	padding: 8px;
	margin: 0 100px;
	background: url('../images/menu.png') repeat transparent;
}

.content {
	height: 100%;
}

.row-fluid {
	position: relative;
}

.banner {
	background: url('../images/banniere.png') no-repeat transparent;
	background-size: 1058px 99px;
	-o-background-size: 1058px 99px;
	-moz-background-size: 1058px 99px;
	-webkit-background-size: 1058px 99px;
	color: white;
	height: 99px;
	position: relative;
}

.affiliates-container {
	padding: 20px 0;
}

.home-link {
	display: block;
	height: 70px;
	left: 82px;
	position: absolute;
	top: 21px;
	width: 500px;
	z-index: 2;
}

.header-container {
	background: url('../images/menu.png') repeat transparent;
}

.login-container{
	padding: 20px;
}

.presentation {
	position: relative;
	width: 600px;
	height: 200px;
	margin: auto;
	width: 600px;
	height: 200px;
	margin: auto;
	background: url('../images/bonde.png') no-repeat;
}

.logo2 {
	background: url('../images/logo2.png') no-repeat;
	position: absolute;
	height: 117px;
	left: -35px;
	position: absolute;
	top: 35px;
	width: 162px;
	z-index: 2;
	left: -35px;
	top: 35px;
	width: 162px;
}

.affiliate-element {
	background: url("../images/boule.png") no-repeat scroll -14px 0
		transparent;
	font-family: Optima;
	height: 132px;
	padding: 66px 66px 0;
	text-align: center;
	height: 132px;
}

.separator{
	height: 2px;
	width: 402px;
	background-color: #833B48;
}

.dropped{
	background-color: #AEA7FF;
	color: #FFFFFF;
	font-weight: bold;
}