@CHARSET "ISO-8859-1";

html,body {
	height: 100%;
}

body {
	background: url('../images/charmita.png') repeat fixed;
}

.content {
	margin: 0 100px;
	height: 100%;
}

.row-fluid {
	background-color: white;
	height: 100%;
	position: relative;
}

.banner {
	background: url('../images/banniere.png') no-repeat transparent;
	color: white;
	height: 99px;
	position: relative;
}

.affiliates-container {
	padding: 20px 0;
}

.home-link {
	display: block;
    height: 70px;
    left: 82px;
    position: absolute;
    top: 21px;
    width: 500px;
    z-index: 2;
}

.header-container{
	background: url('../images/menu.png') repeat transparent;
}

.affiliate-element{
	text-align: center;
	height: 215px;
	background: url('../images/boule.png') no-repeat;
		
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}
