@CHARSET "ISO-8859-1";

body {
	background: url('../images/droit.jpg') repeat fixed;
}

html,body {
	height: 100%;
}

.container-fluid {
	margin: 0 80px;
	height: 100%;
}

.row-fluid {
	background-color: white;
	height: 100%;
	position: relative;
}

.banner {
	background: url('../images/ban.jpg') no-repeat transparent;
	padding: 20px 0;
	color: white;
}

.affiliates-container {
	padding: 20px 0;
}

.footer{
	position: absolute;
bottom: 0;
width: 100%;       
	}